.documents form {
    display: inline;
    padding-left: 2px;
}

.documents form button {
    padding: 0;
    border: 0;
    vertical-align: top;
}

.documents th:first-of-type, .documents td:first-of-type {
    width: 30%;
}

.documents th:last-of-type, .documents td:last-of-type {
    width: 5%;
}

.file_upload_status {
    padding: 6px 0 0 15px;
}

.file_upload_progress {
    width: 30%;
    margin-top: 6px;
}

.attachments {
    width: 50%;
}
