.documents form, .attachments form {
    display: inline;
    padding-left: 2px;
}

.documents form button, .attachments form button {
    padding: 0;
    border: 0;
    vertical-align: top;
}

.documents th:first-of-type, .documents td:first-of-type {
    width: 30%;
}

.documents th:last-of-type, .documents td:last-of-type {
    width: 5%;
}

.file_upload_status {
    padding: 6px 0 0 15px;
    margin: 0;
}

.file_upload_progress {
    width: 30%;
    margin: 6px 0 0;
}

.attachments {
    width: 50%;
}

.attachments tr {
    background-color: #fff;
}

.attachments td:first-of-type {
    width: 80%;
}

.attachments td:last-of-type {
    width: 5%;
}

.attachments span.ui-icon {
    display: inline-block;
    vertical-align: text-top;
}
